<a href="https://colab.research.google.com/github/alejovillores/tp2_spark_villores_alejo/blob/main/ejercicio_8_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ejercicio 8
Considerando el pagelink_sample.csv, usando una representación de grafos obtener
aquellos contenidos que tienen “relaciones no correspondidas”. Entendemos como
funciona una relación correspondida con un ejemplo: Si el contenido A tiene un link
al B, pero B no tiene un link a A, podemos decir que B tiene una relación no
correspondida con A.

In [ ]:
!pip install pyspark
!pip install -U -q PyDrive
!apt update
!apt install openjdk-8-jdk-headless -qq
#!apt install default-jre
#!apt install default-jdk
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 37 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 60.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=ec1436334ef24c06cb76fc95796fb76950fe2cf42ec27317935f808894dd3b84
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0
Ign:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:2 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:5 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:7 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:8 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:10 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:12 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:13 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [786 kB]
Hit:14 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:15 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:16 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,398 kB]
Get:18 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,810 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,434 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,213 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,835 kB]
Get:22 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [927 kB]
Get:23 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [44.7 kB]
Fetched 12.7 MB in 4s (3,015 kB/s)
Reading package lists... Done
Building dependency tree
Reading state information... Done
61 packages can be upgraded. Run 'apt list --upgradable' to see them.
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  openjdk-8-jre-headless
Suggested packages:
  openjdk-8-demo openjdk-8-source libnss-mdns fonts-dejavu-extra
  fonts-ipafont-gothic fonts-ipafont-mincho fonts-wqy-microhei
  fonts-wqy-zenhei fonts-indic
The following NEW packages will be installed:
  openjdk-8-jdk-headless openjdk-8-jre-headless
0 upgraded, 2 newly installed, 0 to remove and 61 not upgraded.
Need to get 36.5 MB of archives.
After this operation, 143 MB of additional disk space will be used.
Selecting previously unselected package openjdk-8-jre-headless:amd64.
(Reading database ... 155062 files and directories currently installed.)
Preparing to unpack .../openjdk-8-jre-headless_8u292-b10-0ubuntu1~18.04_amd64.deb ...
Unpacking openjdk-8-jre-headless:amd64 (8u292-b10-0ubuntu1~18.04) ...
Selecting previously unselected package openjdk-8-jdk-headless:amd64.
Preparing to unpack .../openjdk-8-jdk-headless_8u292-b10-0ubuntu1~18.04_amd64.deb ...
Unpacking openjdk-8-jdk-headless:amd64 (8u292-b10-0ubuntu1~18.04) ...
Setting up openjdk-8-jre-headless:amd64 (8u292-b10-0ubuntu1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/orbd to provide /usr/bin/orbd (orbd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/servertool to provide /usr/bin/servertool (servertool) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/tnameserv to provide /usr/bin/tnameserv (tnameserv) in auto mode
Setting up openjdk-8-jdk-headless:amd64 (8u292-b10-0ubuntu1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/idlj to provide /usr/bin/idlj (idlj) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsimport to provide /usr/bin/wsimport (wsimport) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jsadebugd to provide /usr/bin/jsadebugd (jsadebugd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/native2ascii to provide /usr/bin/native2ascii (native2ascii) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/javah to provide /usr/bin/javah (javah) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/hsdb to provide /usr/bin/hsdb (hsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/clhsdb to provide /usr/bin/clhsdb (clhsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/extcheck to provide /usr/bin/extcheck (extcheck) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/schemagen to provide /usr/bin/schemagen (schemagen) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/xjc to provide /usr/bin/xjc (xjc) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jhat to provide /usr/bin/jhat (jhat) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsgen to provide /usr/bin/wsgen (wsgen) in auto mode

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark import SparkContext
from pyspark.sql import SQLContext
import pandas as pd

In [ ]:
!pip install pyarrow

Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (3.0.0)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from pyarrow) (1.19.5)

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

In [ ]:
pagelinks = pd.read_parquet('/content/drive/MyDrive/2C2021/Datos/Trabajo Practico 2/pagelinks_sample.csv')
pagelinks.head()

   pl_from  pl_namespace                     pl_title  pl_from_namespace
0  4840492            10  Bandera_cÃ³digo_del_COI_TPE                  2
1   950948             0               Esteban_DuÅ¡an                  0
2  6418187             0                      Insecta                  0
3  3436623             0             Pleasure_to_Kill                  0
4  4713066             0               DamiÃ¡n_Oliver                  0

In [ ]:
contents = pd.read_parquet('/content/drive/MyDrive/2C2021/Datos/Trabajo Practico 2/contents.csv')
contents

                                                     title  ...                                    revisor_comment
0                          Wikipedia:Artículos solicitados  ...                                     Así esta mejor
1                                                  Andorra  ...                                   Añadir contenido
2                                                Argentina  ...  Reemplazos con [[Usuario:Benjavalero/Replacer|...
3                                     Geografía de Andorra  ...  Reemplazos con [[Usuario:Benjavalero/Replacer|...
4                                    Demografía de Andorra  ...  Correcciones ortográficas con [[Usuario:Benjav...
...                                                    ...  ...                                                ...
4132159                                    Cruz nestoriana  ...  termino traducción y quito plantilla en desarr...
4132160  Manifestación del orgullo gay de 1977 en Barce...  ...  Crls9011 trasladó la página [[Manifestación de...
4132161                                         Rocasaurus  ...  Gabriel Solo trasladó la página [[Rocasaurus]]...
4132162  Medalla Conmemorativa del 50.º Aniversario de ...  ...  Términus trasladó la página [[Medalla Conmemor...
4132163                                           Fatikroy  ...  Añadiendo la [[Categoría:Localidades de Tripur...

[4132164 rows x 10 columns]

In [ ]:
pagelinks_reduce = pagelinks.loc[pagelinks['pl_title'].isin(contents['title'])]

   pl_from  pl_namespace                     pl_title  pl_from_namespace
0  4840492            10  Bandera_cÃ³digo_del_COI_TPE                  2
1   950948             0               Esteban_DuÅ¡an                  0
2  6418187             0                      Insecta                  0
3  3436623             0             Pleasure_to_Kill                  0
4  4713066             0               DamiÃ¡n_Oliver                  0

In [ ]:
pagelinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000000 entries, 0 to 79999999
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   pl_from            int64
 1   pl_namespace       int64
 2   pl_title           object
 3   pl_from_namespace  int64
dtypes: int64(3), object(1)
memory usage: 2.4+ GB

In [ ]:
pagelinks_reduce.head()

    pl_from  pl_namespace     pl_title  pl_from_namespace
2   6418187             0      Insecta                  0
8   6571966             0         IMDb                  0
12  5461523             4   Vandalismo                  3
13  1098340             0     Wikidata                  0
16  6224910            10  Referencias                  3

In [ ]:
pagelinks_reduce.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20572932 entries, 2 to 79999997
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   pl_from            int64
 1   pl_namespace       int64
 2   pl_title           object
 3   pl_from_namespace  int64
dtypes: int64(3), object(1)
memory usage: 784.8+ MB

In [ ]:
pagelinks_reduce.to_parquet('/content/drive/MyDrive/2C2021/Datos/Trabajo Practico 2/pagelinks_sample.parquet')

In [ ]:
sqlContext = SQLContext(sc)
df_contenidos = sqlContext.read.parquet('/content/drive/MyDrive/2C2021/Datos/Trabajo Practico 2/contents.csv', header=True, inferSchema=True)
rdd_contenidos = df_contenidos.rdd

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:79: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

In [ ]:
sqlContext = SQLContext(sc)
df_pagelink = sqlContext.read.parquet('/content/drive/MyDrive/2C2021/Datos/Trabajo Practico 2/pagelinks_sample.parquet', header=True, inferSchema=True)
rdd_pagelinks = df_pagelink.rdd

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:79: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

Combierto mis valores de page links a clave valor, donde la clave es el titulo que comparte con contents

In [ ]:
rdd_pagelink_title = rdd_pagelinks.filter(lambda x: x.pl_from != None).map(lambda x: (x.pl_title,x.pl_from))

In [ ]:
rdd_pagelink_title.take(3)

[('Insecta', 6418187), ('IMDb', 6571966), ('Vandalismo', 5461523)]

In [ ]:
rdd_contenidos_title_id = rdd_contenidos.filter(lambda x: x.id != None).map(lambda x: (x.title,x.id))

In [ ]:
rdd_contenidos_title_id.take(3)

[('Wikipedia:Artículos solicitados', 5), ('Andorra', 7), ('Argentina', 10)]

In [ ]:
join_data = rdd_pagelink_title.join(rdd_contenidos_title_id)

In [ ]:
join_data.take(3)

[('Trochamminoidea', (7313489, 5782285)),
 ('Trochamminoidea', (6364333, 5782285)),
 ('Trochamminoidea', (7313440, 5782285))]

A traves de los nodos del grafo busco lo pedido

In [ ]:
nodos = join_data.map(lambda x: (x[1][0],x[1][1]))

In [ ]:
nodos.take(3)

[(596996, 4050588), (9474473, 4050588), (7061488, 4050588)]

In [ ]:
nodos_original_ordenado = nodos.map(lambda x: (tuple(sorted(x)),x))

In [ ]:
nodos_original_ordenado.take(3)

[((596996, 4050588), (596996, 4050588)),
 ((4050588, 9474473), (9474473, 4050588)),
 ((4050588, 7061488), (7061488, 4050588))]

In [ ]:
rdd_relaciones = nodos.map(lambda x: tuple(sorted(x))).map(lambda x:(x,1)).reduceByKey(lambda a,b: a+b).filter(lambda x: x[1] == 1)

In [ ]:
nodos_original_ordenado.join(rdd_relaciones).take(5)

[((10256, 1957010), ((1957010, 10256), 1)),
 ((2587481, 2657647), ((2587481, 2657647), 1)),
 ((5206, 7089920), ((7089920, 5206), 1)),
 ((312036, 312866), ((312036, 312866), 1)),
 ((41397, 7146771), ((7146771, 41397), 1))]